## Exercise 2. ##
# DataScience Tools and Ecosystem #

## Exercise 3.##
# INTRODUCTION #
In this notebook, Data Science Tools and Ecosystem are summarized.

## Exercise 4.##
# DS Languages #
1. Python
2. R
3. Julia

## Exercise 5.##
# Data Science Libraries #
1. Numpy
2. Panda
3. Matplotlib
4. Seaborn
5. Scikit-Learn

## Exercise 6.##
| Data Science Tools |
|--------------------|
| Jupyterlab/Jupyterlite |
| RStudio |
| Hadoop |
| Tableau |
| Apache Spark |

## Exercise 7.##
### Below are a few examples of evaluating arithmetic expressions in Python ###

## Exercise 8.##
### multiply and add numbers ###

In [1]:
(3*4)+5

17

## Exercise 9.##
### convert 200 minutes into hours ###

In [2]:
(200)/60

3.3333333333333335

## Exercise 10.##
### DataScience Languages ###
####  Objectives: #####
- Python
- R
- SQL
- NoSQL

## Exercise 11.##
## Author: ##
## Shilpa ##